{% extends "base.html" %}
{% load rules %}
{% block body %}
  <div>
    <ul>
      <li>
        <a href="{% url 'join_request_create' %}">Create a new request</a>
      </li>
      <li>
        <a href="{% url 'join_request_list' %}">Your Requests</a>
      </li>
      <!-- If you are a member of like a group, like "Join Approver", show "All Request Posts" page link here -->
      {% has_perm 'join_request.rules_view_all_request_post' user as rules_view_all_request_post %}
      {% if rules_view_all_request_post is True %}
        <li>
          <a href="{% url 'join_request_list_all' %}">List all of the Join Request Posts</a>
        </li>
      {% endif %}
    </ul>
  </div>
{% endblock %}
