{% extends "base.html" %}
{% load rules %}
{% block body %}
  {% if error is not None %}
    <div class="alert alert-danger">
      Error:
      {{ error }}
    </div>
  {% endif %}
  <p>Join Request:
    {{ post.request_group.name }}</p>
  <p>Requested By:
    {{ post.created_by.username }}</p>
  <div>
    Detail:<br>
    {{ post.detail|linebreaks }}
  </div>
  <p>Posted on
    {{ post.created_at }}</p>
  <p>Updated on
    {{ post.updated_at }}</p>
  <p>Status :
    {% if post.is_open %}
      Open
    {% else %}
      Closed
    {% endif %}
  </p>
  {% has_perm 'join_request.rules_view_request_post_detail' user post as rules_view_request_post_detail %}
  {% if rules_view_request_post_detail %}
    <a href="{% url 'join_request_update' pk=post.pk %}">Edit</a>
  {% endif %}
  {% has_perm 'join_request.rules_approve_request_post' user as rules_approve_request_post %}
  {% if rules_approve_request_post and post.is_open %}
    <a href="{% url 'join_request_approve' pk=post.pk %}">Approve</a>
  {% endif %}
{% endblock %}
